body {
    font-size: 15px;
    text-align: center;
  }


/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
}

header img{
    float: left;
}

header img{
    max-width: 16%;
    height: auto;
}

header li {
    float: right;
}

li a {
    display: block;
    color: dimgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #0cdaa4;
}
  
.active {
    color: #0cdaa4;
}

li.dropdown {
    display: inline-block;
}
      
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
      
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
      
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
      
.dropdown:hover .dropdown-content {
    display: block;
}

body {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* section : 1 */
.top h1{
    color: #0cdaa4;
    text-align: center;
}

.adv{
    display: flex; 
    justify-content: space-around; 
    width: 90%; 
    margin-left: 4%

}
.adv p{
    text-align: left;
}
.adv li{
    float: left;
}
.adv h2{
    color: #0cdaa4;
}

.right{
    background-color: cyan;
    border-radius: 15px;
    height: 300px;
    width: 250;
    color: white;
    font-size: 20px;   
}
.center{
    background-color: cornflowerblue;
    border-radius: 15px;
    height: 300px;
    width: 250;
    color: white;
    font-size: 20px;
}
.left{
    background-color: darkblue;
    border-radius: 15px;
    height: 300px;
    width: 250;
    color: white;
    font-size: 20px;
}

.image{
    max-width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* section : 3 */

.third{display: flex; 
    flex-wrap: wrap; 
    width: 90vw; 
    justify-content: space-around;
    margin: 2% 4% ;
}

.h3-style{
    color: #0cdaa4;
    font-size: 20px;
}

/* footer */
footer{
    color: dimgrey;
}
footer a{
    text-decoration: none; 
    color: #0cdaa4;
}